.container {
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #531804;
    font-family: 'Aboreto';
    font-size: 64px;
    font-weight: 400;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 5%;
}

.projeto {
    margin-bottom: 60px;

}

.imagens {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 5%;
  }
  
  .imagens img {
    width: 50%;
    max-width: 350px;
    height: 450px;
    object-fit: cover;
    display: block;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
  }

  .imagens img:hover {
    transform: scale(1.03);
}

  .descricao {
    background-color: #531804;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #F5EADD;
    font-family: 'Crimson Text';
    font-size: 22px;
    font-weight: 600;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    margin-top: 5%;
    width: 89%;
    margin-left: auto;
    margin-right: auto;
  }

  .voltar {
    display: inline-block;
    margin-top: 1%;
    padding: 10px 16px;
    background-color: #531804;
    color: #F5EADD;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.3s ease;
    cursor: pointer;
  }
  
  .voltar:hover {
    background-color: #F5EADD;
    color: #531804;
  }
